
.sort-button {
    background-color: transparent;
    border: none;
    color: black;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
  }
  
  .delete {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.delete-container {
    width: 400px;
    height: 200px;
    border-radius: 10px;
    background-color: rgb(211, 90, 114);
    border: 2px solid rgb(255, 255, 255);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.delete-container div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

