
.sort-button {
    background-color: transparent;
    border: none;
    color: black;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
  }
  
  .delete {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.delete-container {
    width: 400px;
    height: 200px;
    border-radius: 10px;
    background-color: rgb(211, 90, 114);
  
    border: 2px solid rgb(255, 255, 255);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.delete-container div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.fan-container {
    position: relative;
    width: 300px; /* Set the width based on your design */
    height: 300px; /* Set the height based on your design */
}

.fan-blade {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio */
    transition: transform 0.3s ease-in-out;
    opacity: 0.9;
}

.blade1 {
    transform: rotate(10deg);
    top: 0%;
    left: 10%;
}

.blade2 {
    transform: rotate(-5deg);
    top: 25%;
    left: 35%;
}

.blade3 {
    transform: rotate(-20deg);
    top: 45%;
    left: 20%;
}

.blade1:hover{
    z-index: 1;
}
.blade2:hover{
    z-index: 1;

}
.blade3:hover{
    opacity: 1;


}
.navas{
    opacity: 0.7;
}
.listas{
    opacity: 0.9;
    border-radius: 10px !important;
}
hr{
    margin:0;
}
